<div class="px-3 py-3 mt-8 bg-white rounded-lg shadow-lg h-auto">
    <div class="flex items-center gap-2">
        <lucide-icon [img]="config?.iconTitle" class="text-emerald-900"></lucide-icon>
        <h1 class="text-[22px] text-emerald-950">{{config?.title}}</h1>
    </div>
    @if(!vaccines || vaccines.length === 0) {
    <div class="flex flex-col justify-center items-center h-35 w-full  text-zinc-400 opacity-40">
        <lucide-icon class="w-10 h-10" [img]="config?.iconMessage"></lucide-icon>
        <p>{{config?.message}}</p>
    </div>
    } @else {
    <ul class="space-y-2">
        @for (vaccine of vaccines; track vaccine.id) {
        <li class="relative flex items-center gap-2 border-emerald-100 border rounded-xl px-2 py-1">

            <div class="flex items-center justify-center bg-emerald-200 rounded-full w-10 h-10">
                <lucide-icon class="text-emerald-800 w-5 h-5" [img]="config?.iconVaccine"></lucide-icon>
            </div>

            <div class="text-emerald-700">
                <p class="text-[17px] capitalize">{{ vaccine.nome }}</p>
                <span class="text-[12px] text-gray-500">
                    {{ vaccine.data | date:'dd/MM/yyyy' }}
                </span>
            </div>

            <button class="absolute top-2 right-2 text-red-300" (click)="delete.emit({id: vaccine.id, status: vaccine.status})">
                <lucide-icon class="w-4 h-4" [img]="clearIcon"></lucide-icon>
            </button>

        </li>
        }

    </ul>
    }

</div>