<div class="px-3 py-3 mt-10 bg-white rounded-lg shadow-lg h-auto">
    <div class="flex items-center gap-2">
        <lucide-icon [img]="ClockFadingIcon" class="text-emerald-900"></lucide-icon>
        <h1 class="text-[22px] text-emerald-950"> {{mode === "daily" ? "Atividades recentes" : "Histórico de atividades"}} </h1>
    </div>

    @if((routines$ | async)?.length === 0) {
        @if(mode === 'daily') {
            <div class="flex flex-col justify-center items-center h-35 w-full  text-zinc-400 opacity-40">
                <lucide-icon class="w-10 h-10" [img]="ClockIcon"></lucide-icon>
                <p>Nenhuma atividade hoje</p>
            </div>
        }

        @if(mode === 'full') {
            <div class="flex flex-col justify-center items-center min-h-[55vh] w-full  text-zinc-400 opacity-40">
                <lucide-icon class="w-14 h-14" [img]="ClockIcon"></lucide-icon>
                <p class="text-xl">Nenhuma atividade</p>
            </div>
        }
    } @else {
    @if(mode === 'daily') {

    <div class=' max-h-[40vh] overflow-y-auto'>
        <ul class="mt-4 space-y-2">
            @for(routine of (routines$ | async); track routine.id) {
            <li class="text-emerald-900 text-sm">
                <div class='relative flex justify-between items-end border-emerald-100 border rounded-xl px-4 py-1'>
                    <div class='flex gap-3 items-center'>
                        <div class='bg-emerald-100 w-10 h-10 flex items-center justify-center rounded-full'>
                            <lucide-icon [img]="getIconForType(routine.tipo)"></lucide-icon>
                        </div>

                        <div>
                            <div class='flex gap-2 items-center'>
                                <p class='text-[17px]'>{{getTypeLabel(routine.tipo)}}</p>
                                <span class='text-[13px] bg-emerald-100 p-0.5 px-1 rounded-xl'>
                                    {{routine.timeStamp | date:'HH:mm'}}
                                </span>
                            </div>

                            <p class='text-[12px] text-gray-500'>
                                {{getDetailForType(routine.tipo, routine.detalhes)}}
                            </p>
                        </div>
                    </div>

                    <div class='text-right'>

                        <p class='text-[11px] text-gray-400 mt-1'>
                            {{routine.timeStamp | date:'dd/MM/yyyy'}}
                        </p>
                    </div>
                </div>
            </li>
            }

        </ul>
    </div>
    }
    }

    <!-- modal para pagina historico -->
    @if (mode === 'full') {
    <div class="overflow-y-auto mb-1">
        @for (group of (getRoutinesByDate() | async); track group[0]) {
        <h2 class="mt-6 mb-2 text-sm font-semibold text-emerald-900">
            {{ group[0] | date:'dd MMMM yyyy'}}
        </h2>

        <ul class="space-y-2">
            @for (routine of group[1]; track routine.id) {
            <li class="text-emerald-900 text-sm">
                <div class="relative flex justify-between items-end border-emerald-100 border rounded-xl px-4 py-1">
                    <div class="flex gap-3 items-center">
                        <div class="bg-emerald-100 w-10 h-10 flex items-center justify-center rounded-full">
                            <lucide-icon [img]="getIconForType(routine.tipo)"></lucide-icon>
                        </div>

                        <div>
                            <div class="flex gap-2 items-center">
                                <p class="text-[17px] capitalize">{{ getTypeLabel(routine.tipo) }}</p>
                                <span class="text-[13px] bg-emerald-100 p-0.5 px-1 rounded-xl">
                                    {{ routine.timeStamp | date:'HH:mm' }}
                                </span>
                            </div>

                            <p class="text-[12px] text-gray-500">
                                {{getDetailForType(routine.tipo, routine.detalhes)}}
                            </p>
                        </div>
                    </div>

                    <div class="flex flex-col items-end">
                        <button class="cursor-pointer" (click)="deleteRoutine(routine.id, routine.tipo)"><lucide-icon class="text-red-200 w-4 h-4" [img]="clearIcon"></lucide-icon></button>
                        <p class="text-[11px] text-gray-400 mt-1">
                            {{ routine.timeStamp | date:'dd/MM/yyyy' }}
                        </p>
                    </div>
                </div>
            </li>
            }
        </ul>
        }
    </div>
    }

</div>