@import "tailwindcss";

body, html {
font-family: 'roboto', sans-serif;
}


.bg-primary {
    @apply bg-gradient-to-br from-blue-400 via-blue-500 to-purple-600;
  }

.btn-primary {
    @apply bg-gradient-to-r from-blue-400 to-blue-500 text-white font-bold py-3 rounded-xl duration-300 flex items-center justify-center shadow-lg hover:shadow-xl hover:scale-105;
  }

  .btn-invalid {
    @apply bg-gray-300 opacity-70 text-gray-500 font-bold py-3 rounded-xl duration-300 flex items-center justify-center shadow-lg cursor-not-allowed;
  }

.input-primary {
    @apply w-full px-4 py-3 border-2 border-gray-200 rounded-xl focus:border-blue-400 focus:outline-none transition-colors text-gray-800 placeholder-gray-400;
  }

  .input-error {
    @apply w-full px-4 py-3 border-2 border-red-400 rounded-xl focus:border-blue-400 focus:outline-none transition-colors text-gray-800 placeholder-gray-400;
  }

  .input-icon {
    @apply flex items-center justify-center absolute right-0 rounded-r-xl top-1/2 -translate-y-1/2 w-14 h-full bg-gradient-to-r from-blue-400 to-blue-500 text-blue-500
  }

  .input-icon-error {
    @apply flex items-center justify-center absolute right-0 rounded-r-xl top-1/2 -translate-y-1/2 w-14 h-full bg-red-400 text-white
  }
