<nav class="fixed bottom-0 left-0 w-full bg-primary z-50 flex justify-center">
  <div class="w-full max-w-xl bg-white border-t border-gray-200 shadow-2xl">
    <ul class="flex justify-around items-center h-16">
      <li class="h-full w-full">
        <a class="flex flex-col items-center justify-center h-full w-full bg-gradient-to-r from-emerald-500 to-emerald-400 text-white">
          <lucide-icon [img]="homeIcon" [size]="22"></lucide-icon>
          <span class="text-xs">Início</span>
        </a>
      </li>

      <li class="h-full w-full">
        <a class="flex flex-col items-center justify-center h-full w-full text-gray-600 hover:bg-gray-100">
          <lucide-icon [img]="syringeIcon" [size]="22"></lucide-icon>
          <span class="text-xs">Vacinas</span>
        </a>
      </li>

      <li class="h-full w-full">
        <a class="flex flex-col items-center justify-center h-full w-full text-gray-600 hover:bg-gray-100">
          <lucide-icon [img]="historyIcon" [size]="22"></lucide-icon>
          <span class="text-xs">Histórico</span>
        </a>
      </li>

      <li class="h-full w-full">
        <a class="flex flex-col items-center justify-center h-full w-full text-gray-600 hover:bg-gray-100">
          <lucide-icon [img]="userIcon" [size]="22"></lucide-icon>
          <span class="text-xs">Perfil</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
